#searchbar{
	position: absolute;
	left: 43em;
	top: 1em;
    width:1040px;
    height:auto;
    display:inline-block;
}
#searchbar .text{
    width:300px;
    float:left;
}
#searchbar .champ{
    width:600px;
    height:25px;
    float:left;
}
#searchbar .bouton{
	background: #343a40;
	font-size: 10px;
    width: 35px;
	height: 25px;
    padding: 0;
    border:none;
	float:left;
}
